@import "others/flexboxgrid";
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #589BA4;
  display: table;
  font-weight: 100;
  font-family: 'PT Sans';
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 96px;
}
.subtitle{
  font-size: 24px;
  margin-bottom: 40px;
}

.quote {
  font-size: 24px;
}